<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../static/login/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/login/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/login/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../static/login/vendor/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/login/css/main.css">
<!--===============================================================================================-->
<style>
    .form-control.is-invalid:focus, .was-validated :invalid.form-control {
        border-color: #DDDDDD !important;
        background-image: inherit !important;
		box-shadow: inherit !important;
		 color: white !important; 
	} 
	 .form-control.is-invalid::placeholder {
		color: transparent;
		} 
	.form-control.is-invalid:focus::placeholder {
		color: transparent;
		}
	.was-validated::placeholder{
		color: white !important;
	}
	.input100::placeholder{
		color: white !important	;
	}
	.input100:focus::placeholder{
		color: transparent !important;
	}
	.form-control::placeholder{
		color: white !important;
	}
</style>
</head>
<body>
	{% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages%}
                    <div class="alert alert-{{ category }}">
                        {{message}}

                    </div>
                {% endfor %}   
            {% endif %}
        {% endwith %} 

	<div class="limiter">
		<div class="container-login100" style="background-image: url('../static/login/images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form " action="" method="POST">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
					<span class="login100-form-logo">
						<i class="fa fa-bank"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Register
					</span>

					<div class="wrap-input100">
						{% if form.fullName.errors %}
							{{ form.fullName(class="input100 form-control is-invalid", style="background-color: transparent; border:none;color: white;", placeholder="Full Name") }}
							<span class="focus-input100"  style="color: white;" data-placeholder="&#xf207;"></span>
							<div class="invalid-feedback">
								{% for error in form.fullName.errors%}
									<span style="color:#ff8383;">{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
						{{ form.fullName(class="input100 form-control", style="background-color: transparent; border:none;color: white;", placeholder="Full Name") }}
						<span class="focus-input100"  style="color: white;" data-placeholder="&#xf207;"></span>
						{% endif %}
					</div>


					<div class="wrap-input100" >
						{% if form.email.errors%}
							{{ form.email(class="input100 form-control is-invalid", style="background-color: transparent; border:none;color: white;", placeholder="Email")}}
							<span class="focus-input100"  style="color: white;" data-placeholder="&#xf15a;"></span>
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
									<span style="color:#ff8383;">{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
						{{ form.email(class="input100 form-control", style="background-color: transparent; border:none;color: white;", placeholder="Email")}}
						<span class="focus-input100"  style="color: white;" data-placeholder="&#xf15a;"></span>
						{% endif %}
						</div>


					<div class="wrap-input100">
						{% if form.username.errors %}
							{{ form.username(class="input100 form-control is-invalid", style="background-color: transparent; border:none;color: white;", placeholder="Username")}}
							<span class="focus-input100"  style="color: white;" data-placeholder="&#xf205;"></span>
							<div class="invalid-feedback">
								{% for error in form.username.errors %}
									<span style="color:#ff8383;">{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
						{{ form.username(class="input100 form-control", style="background-color: transparent; border:none;color: white;", placeholder="Username")}}
						<span class="focus-input100"  style="color: white;" data-placeholder="&#xf205;"></span>
						{% endif %}
					</div>


					<div class="wrap-input100 validate-input" data-validate="password">
						{% if form.password.errors%}
							{{ form.password(class="input100 form-control is-invalid", style="background-color: transparent; border:none;color: white;" , placeholder="Password")}}
							<div class="invalid-feedback">
								{% for error in form.password.errors %}
									<span style="color:#ff8383;">{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
						{{ form.password(class="input100 form-control", style="background-color: transparent; border:none;color: white;", placeholder="Password")}}
						<span class="focus-input100"  style="color: white;" data-placeholder="&#xf191;"></span>
						{% endif %}
					
						</div>

					<div class="wrap-input100 validate-input" data-validate="Confirm password">
						
						{% if form.confirm_password.errors %}
							{{form.confirm_password(class="input100 form-control is-invalid", style="background-color: transparent; border:none;color: white;", placeholder="Confirm Password")}}
							<span class="focus-input100"  style="color: white;" data-placeholder="&#xf269;"></span>
							<div class="invalid-feedback">
								{% for error in form.confirm_password.errors %}
									<span style="color:#ff8383;">{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
						{{form.confirm_password(class="input100 form-control", style="background-color: transparent; border:none;color: white;", placeholder="Confirm Password")}}
						<span class="focus-input100"  style="color: white;" data-placeholder="&#xf269;"></span>
						{% endif %}

						</div>

					<div class="contact100-form-checkbox">
						{% if form.terms.errors%}
							<input class="input-checkbox100 form-control is-invalid" id="ckb1" type="checkbox" name="terms">
							<label class="label-checkbox100" for="ckb1">
								Accept Terms and Conditions
							</label>
							<div class="invalid-feedback">
								{% for error in form.terms.errors %}
									<span style="color:#ff8383;">{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="terms">
						<label class="label-checkbox100" for="ckb1">
							Accept Terms and Conditions{% endif %}
					</div>

					<div class="container-login100-form-btn">
						<!-- <button type="submit" name="register" class="login100-form-btn">
							Register
						</button> -->
						<input type="submit" value="Register" name="register" class="login100-form-btn">

					</div>

					
					<div class="text-center p-t-90">
						<a class="txt1" href="/login">
							Already Have an Account? Login
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../static/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/login/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/login/vendor/daterangepicker/moment.min.js"></script>
	<script src="../static/login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../static/login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../static/login/js/main.js"></script>

</body>
</html>